body {
    margin: 0;
    font-family: Arial, sans-serif;
}
#jumpMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: #DAA520;
    padding: 10px;
}
header {
    position: fixed;
    top: 0;
    left: 15%; 
    width: 85%; 
    background-color: red;
    text-align: center; 
}
header nav {
    background-color: blue;
    padding: 10px;
}
header nav button {
    background-color: white;
    margin: 5px;
}
main {
    margin-left: 15%; 
    margin-top: 150px; 
}
h1 {
    text-align: center;
}
#container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
}
article {
    width: 300px; 
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
#thanks {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: lightblue;
    padding: 20px;
    border: 1px solid black;
    margin: 0;
}
footer {
    padding: 20px;
    background-color: lightgray;
    margin-top: 20px;
}